<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Boris & Emily's Wedding - May 31, 2015">
        <meta name="author" content="Boris Jonica">
        <link rel="icon" href="/favicon.ico">

        <title>{{title}} | {{subTitle}}</title>

        <link href="/css/bootstrap.min.css" rel="stylesheet">
        <link href="/css/cover.css" rel="stylesheet">
    </head>
    <body>
    <div class="site-wrapper">
        <div class="site-wrapper-inner">
            <div class="cover-container">
                <div class="masthead clearfix">
                    <div class="inner">
                        <h3 class="masthead-brand">{{title}}</h3>
                        <h4 class="masthead-subbrand">{{subTitle}}</h4>
                        <nav>
                            <ul class="nav masthead-nav">
                                <li {{#if selectedRsvp}}class="active"{{/if}}><a href="/rsvp">RSVP</a></li>
                                <li><a href="https://www.zola.com/registry/emilyandboris">Registry</a></li>
                                <li {{#if selectedContact}}class="active"{{/if}}><a href="/contact">Contact Us</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>

                <div class="inner cover">
                    {{{@body}}}
                </div>

            </div>

        </div>

    </div>

    <script src="/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/my.js"></script>
    </body>
</html>